.pricing {
    background-color: var(--secondary-bg);
    height: 651px;
    border-top: solid 1px var(--border);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-header {
        position: relative;
        top: 80px;
        width: 471px;
    }

    &-title {
        margin: 0;
        font-size: var(--title-size);
        color: var(--dark-grey);
        font-family: "Circular Std Bold";
        text-align: center;
        line-height: 1.17;
        letter-spacing: -1.69px;
        margin-bottom: 16px;
    }

    &-text {
        margin: 0;
        font-size: var(--large-text);
        color: var(--light-grey);
        text-align: center;
        line-height: 1.86;
        letter-spacing: -0.59px;
    }

    &-switch {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 134px;

        &-text {
            font-size: var(--large-text);
            color: var(--light-grey);
            margin: 0 14px;
        }

        &-toggle {
            width: 65px;
            height: 30px;
            background-color: var(--border);
            border-radius: 14.9px;
            transition: 0.4s;

            &.yearly {
                background-color: var(--dark-periwinkle) !important;
                transition: 0.4s;
            }

            &:hover {
                cursor: pointer;
            }
            
        }

        &-button {
            display: block;
            background-color: var(--white);
            position: relative;
            top: 6px;
            left: 6px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            transition: 0.4s;

            &.yearly {
                transform: translateX(30px);
                transition: 0.4s;
            }
        }

        &-deal {
            border-radius: 4.5px;
            color: var(--white);
            padding: 6px 14px 5px;
            background-color: var(--btn--secondary);
            letter-spacing: -0.37px;
            font-size: 0.731rem;
            font-family: "Circular Std Bold";
        }
    }

    &-plans{
        position: relative;
        top: 179px;
        display: flex;
        justify-content: center;

        &-items {
            height: 400px;
            margin-bottom: 98px;
            margin-top: 31px;
        }
        
        &-list {
            margin: 0;
            font-size: var(--large-text);
            color: var(--light-grey);
            margin-bottom: 11px;
        }

        &-box {
            background-color: var(--white);
            width: 486px;
            height: 526px;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 13.5px;
            border-radius: 9px;
            box-shadow: 0 47px 49px 0 rgba(65, 62, 101, 0.1);
        }

            &-title {
                font-size: var(--small-text);
                color: var(--dark-periwinkle);
            }

            &-amount {
                font-size: 4.5rem;
                color: var(--dark-grey);
                line-height: 1.87;
                letter-spacing: -0.47px;

                &::before {
                    content: '$';
                    font-size: 2rem;
                }

                &::after {
                    content: '/mo';
                    font-size: 2rem;
                }
            }

            &-text {
                font-size: var(--small-text);
                color: var(--light-grey);
            }
        
            &-below {
                position: absolute;
                bottom: 0;
                height: 54px;
                width: 487px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--dark-periwinkle);
                font-size: var(--large-text);
                font-family: "Circular Std Medium";
                line-height: normal;
                letter-spacing: -0.59px;
                border-radius: 0 0 9px 9px;
            }
    }
}