:root {

    --white: #ffffff;
    --dusk: #413e65;
    --white-70: rgba(255, 255, 255, 0.7);
    --dark-grey: #19191b;
    --light-grey: #696871;
    --dark-periwinkle: #5454d4;
    --btn--primary: #f04037;
    --btn--secondary: #f0544c;
    --secondary-bg: #f7f7fb;
    --border: #eae9f2;

    --title-size: 3.375rem;
    --sub-title-size: 1.35rem;
    --large-text: 1.181rem;
    --small-text: 0.9rem;
}